<!DOCTYPE html>
<!--下記記述がないと動かない-->
<!--thはタグ。属性を追加するもの-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>受講生情報の編集</title>
</head>
<body>
<h1>受講生情報の編集</h1>
<form th:action="@{/updateStudent}" th:object="${studentDetail}" method="post">
	<div>
		<label for="id"></label>
        <input type="hidden" id="id" th:field="*{student.id}"/>
	</div>
    <div>
        <label for="name">名前：</label>
        <input type="text" id="name" th:field="*{student.name}" required/>
    </div>
    <div>
        <label for="nameRuby">フリガナ：</label>
        <input type="text" id="nameRuby" th:field="*{student.nameRuby}" required/>
    </div>
    <div>
        <label for="nickname">ニックネーム：</label>
        <input type="text" id="nickname" th:field="*{student.nickname}" required/>
    </div>
    <div>
        <label for="emailAddress">住所：</label>
        <input type="text" id="emailAddress" th:field="*{student.emailAddress}" required/>
    </div>
    <div>
        <label for="area">地域：</label>
        <input type="text" id="area" th:field="*{student.area}" required/>
    </div>
    <div>
        <label for="age">年齢：</label>
        <input type="number" id="age" th:field="*{student.age}"/>歳
    </div>
    <div>
        <label for="gender">性別:</label>
        <select id="gender" th:field=="*{student.gender}">
            <option value="男">男</option>
            <option value="女">女</option>
            <option value="その他">その他</option>
        </select>
    </div>
    <div>
        <label for="remark">備考：</label>
        <input type="text" id="remark" th:field=="*{student.remark}">
    </div>
    <div>
        <label for="courseName1">コース名1：</label>
        <input type="text" id="courseName1" th:field="${studentDetail.studentsCourses[0].courseName}" required/>
    </div>
    <div>
        <label for="startDate1">開始日1：</label>
        <input type="date" id="startDate1"
               th:value="${studentDetail.studentsCourses[0].startDate}"
               th:field="${studentDetail.studentsCourses[0].startDate}"/>
    </div>
    <div>
        <label for="endExpectedDate1"></label>
        <input type="hidden" id="endExpectedDate1"
               th:field="${studentDetail.studentsCourses[0].endExpectedDate}"/>
    </div>
    <div>
		<label for="coucourseid1"></label>
        <input type="hidden" id="coucourseid1"
               th:field="${studentDetail.studentsCourses[0].id}">
	</div>
    <div>
		<label for="studentid1"></label>
        <input type="hidden" id="studentid1"
               th:value="${studentDetail.studentsCourses[0].studentid}"
               th:field="${studentDetail.studentsCourses[0].studentid}">
	</div>
	
    <div>
        <label for="courseName2">コース名2：</label>
        <input type="text" id="courseName2" th:field="${studentDetail.studentsCourses[1].courseName}">
    </div>
    <div>
        <label for="startDate2">開始日2：</label>
        <input type="date" id="startDate2"
               th:field="${studentDetail.studentsCourses[1].startDate}"/>
    </div>
    <div>
        <label for="endExpectedDate2"></label>
        <input type="hidden" id="endExpectedDate2"
               th:field="${studentDetail.studentsCourses[1].endExpectedDate}"/>
    </div>
    <div>
		<label for="coucourseid2"></label>
        <input type="hidden" id="coucourseid2" th:field="${studentDetail.studentsCourses[1].id}">
	</div>
    <div>
		<label for="studentid2"></label>
        <input type="hidden" id="studentid2" th:field="${studentDetail.studentsCourses[1].studentid}">
	</div>
	
    <div>
        <label for="courseName3">コース名3：</label>
        <input type="text" id="courseName3" th:field="${studentDetail.studentsCourses[2].courseName}" >
    </div>
    <div>
        <label for="startDate3">開始日3：</label>
        <input type="date" id="startDate3"
               th:field="${studentDetail.studentsCourses[2].startDate}"/>
    </div>
    <div>
        <label for="endExpectedDate3"></label>
        <input type="hidden" id="endExpectedDate3"
               th:field="${studentDetail.studentsCourses[2].endExpectedDate}"/>
    </div>
    <div>
		<label for="coucourseid3"></label>
        <input type="hidden" id="coucourseid3" th:field="${studentDetail.studentsCourses[2].id}">
	</div>
    <div>
		<label for="studentid3"></label>
        <input type="hidden" id="studentid3" th:field="${studentDetail.studentsCourses[2].studentid}">
	</div>

    <div>
        <button type="submit"> 登録</button>
    </div>
</form>
</body>
</html>